
    body {
      font-family: Futura, "Trebuchet MS", Arial, sans-serif;
      text-align: left;
      margin-top: -15px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .loginBackGround {
      font-family: Futura, "Trebuchet MS", Arial, sans-serif;
      background-color: #312d2d;
      padding: 50px;
      height: 100% ;
      width: auto ;
    }
    .login {
    margin: 20px auto;
    width: 300px;
    }
    .login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    }
     
    .app-title {
    text-align: center;
    color: #777;
    }
     
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
     
    input {
    text-align: center;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
     
    input:focus {
    border: 2px solid #312d2d;
    box-shadow: none;
    }
    
    .btn {
      border: 2px solid transparent;
      background:rgb(219, 73, 85);
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      width: 250px;
      margin: 5px;
      display: block;
    }
     
    .btn:hover {
      background-color: rgb(219, 73, 85);
    }
     
    .login-link {
      font-size: 12px;
      color: #444;
      display: block;
        margin-top: 12px;
    }

    .fromDiv {
      width: 900px;
      height: 100%;
      text-align: left;
    }

  .textarea{
      background-color: #ECF0F1;
      border: 2px solid transparent;
      border-radius: 3px;
      font-size: 16px;
      padding: 10px 0;
      font-weight: 200;
      margin-left: 50px;
      text-align: left;
      width: 80%;
      height: 150px;
      text-align: center;
      margin-top: 16px;
      transition: border .5s;
      resize: none;
  }
  
  .divLeft{
      height: 100%;
      margin-left: 50px;
      float: left;
      width: 200px;
      text-align: right;
  }

  .tableTitle{
    margin-left: 50px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    text-align: left;
    padding-left: 00px;
  }
  
  .updateBtn {
        border: 2px solid transparent;
        background: rgb(219, 73, 85);
        color: #ffffff;
        font-size: 16px;
        line-height: 25px;
        padding: 10px 0;
        text-decoration: none;
        text-shadow: none;
        border-radius: 3px;
        box-shadow: none;
        transition: 0.25s;
        margin-left: 50px;
        margin-top: 16px;
        width: 250px;
      }

      .inputSelection {
        text-align: center;
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 200;
        padding: 10px 0;
        width: 50%;
        height: 30px;
        margin-left: 50px;
        transition: border .5s;
      }
  
      .text {
          text-align: left;
          background-color: #ECF0F1;
          border: 2px solid transparent;
          border-radius: 3px;
          font-size: 16px;
          font-weight: 200;
          padding: 10px 0;
          width: 250px;
          transition: border .5s;
      }

      .rowStyle {
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        text-align: left;
        font-size: 20px;
        font-weight: 200;
        padding: 50px;
        height: 50px;
    }

    .dataStyle{
        padding-left: 10px;
        padding-right: 10px;
        max-width: auto;
    }

    .headingStyle{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 20px;
        font-weight: 250;
        color: rgb(219, 73, 85);
    }
    .tableStyle {
        border: 2px solid transparent;
        border-color: rgb(5, 5, 5);
        border-radius: 3px;
        width: 100% auto;
        margin-left:50px;
        height: 100% auto;
        border-collapse: separate;
        border-spacing: 2px;
    }
    .add_Deals_input{
        text-align: center;
        background-color: #ECF0F1;
        border: 2px solid transparent;
        border-radius: 3px;
        font-size: 16px;
        font-weight: 200;
        padding: 10px 0;
        width: 80%;
        margin-top: 16px;
        margin-left: 50px;
        transition: border .5s;
    }
    .divLeft{
        height: 100%;
        margin-left: 50px;
        float: left;
        width: 200px;
        text-align: right;
    }
    .button{
      text-align: center;
      font-weight: 200;
      font-size: 16px;  
      border: 2px solid transparent;
      background: rgb(219, 73, 85);
      color: #ffffff;
      line-height: 10px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 2px;
      border-color: black;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 100px;
      margin: 0 auto;
    }

  .gapSpace {
    height: 0px;
    }

    .leftMenuBackground {
      width: 250px;
      height: 200% ;
      background: rgb(219, 73, 85); 
      margin: 0;
      padding: 0;
      float: left;
  }
  .navmenubackground {
      width: 98%;
      text-align: right;
}

  .menuButton {
      border: 2px solid transparent;
      background: rgb(249,146,84);
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      padding: 7px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 200px;
      height: 42px;
      margin-left: 20px;
      margin-top: 16px;
      text-align: center;
  }

  .filebtn{
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px ;
    width: 50%;
    margin-left: 50px;
    transition: border .5s;
    float: left;
    margin-bottom: 20px;
  }

  .orText {
  text-align: center;
  width: 80%;
  margin-left: 50px;
}

img {
  display:block; 
  margin-left:auto; 
  margin-right: auto;
}

.w3-sidebar {
  background-color: rgb(219, 73, 85) !important;
}

.w3-bar {
  color: #fff !important;
  background-color: rgb(219, 73, 85)!important;
}