<link rel="stylesheet" href="/static/style.css" type="text/css">

{% extends "layout.html" %}
{% block body %}

<div class="black1">
    <div>
        {% include 'nav.html' %}
        {% include 'leftmenu.html' %}
        {% include 'includes/_messages.html' %}       
        <div class="fromDiv">
            <h2 class="tableTitle"> Categories </h2>
                
            <form action="/addcategories" method="POST">

                <div class="gapSpace"></div>
                <div class="">
                        <input type="text" class="add_Deals_input"   placeholder = "Category" name="name"required>
                </div>
                <div class="gapSpace"></div>

                <input type="submit" value="Add" class="updateBtn" >
                        <br>
                <div class="gapSpace"></div>

                </form>
                
                
                <table class="tableStyle" name="table">
                        <tr class="rowStyle">
                            <td class="headingStyle">Category</th> 
                            <td class="headingStyle"> Option </th>
                        </tr>
            
                        {% for cat in categories %}
                            <tr class="rowStyle">
                                <td class="dataStyle"> {{cat.name}} </td>           
                                <td>                                
                                    <form action="/deletecategory">                                
                                        <button type="submit" name="delete" value= {{cat.name}}> Delete </button>
                                    </form>
                                </td>
                                </tr>
                            
                        {% endfor %}
                </table> 
                
        </div>
        
    </div>
  
</div>

{% endblock %}

