<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

{% block body %}
{% include 'leftmenu.html' %}
<div class="w3-main" style="margin-left:250px">
    <div class="w3-row w3-padding-64">
            {% include 'includes/_messages.html' %}                 
            <h2 class="tableTitle" id="pageTitle"> Add Vendor </h2>
            
            {% if deal == "" %}
            <form class="form-inline" action="/addDeals" method="POST" enctype="multipart/form-data">
            {% else %}
            <form class="form-inline" action="/updateDeal" method="POST" enctype="multipart/form-data">
                <input type="text" id="id" class="add_Deals_input"  value="{{deal["id"]}}" name="id" required  readonly>
            {%endif %}

                <input type="text" id="title" class="add_Deals_input"   placeholder = "Vendor Title" name="title" required >
                <textarea class="textarea" id="description" placeholder="Description" name="description" required></textarea>
                <input type="text" id="offer" class="add_Deals_input"   placeholder = "Other description" name="offer">
                <input type="text" id="price" class="add_Deals_input"  placeholder="Price" name="price" required>
                <input type="text" id="buy_price" class="add_Deals_input"  placeholder="Buy Price" name="buy_price" required>
                <input type="text" id="image" class="add_Deals_input"   placeholder = "Image URL" name="image">
		<img id="deal_image" src="" style="display: none">
                <input type="file" id="file"class="add_Deals_input"  name="file" accept="image/*" multiple>
                <select class="add_Deals_input" name = "type">
                        <option class="add_Deals_input" value ="Restaurants" name = "type" >Restaurants</option>
                        <option class="add_Deals_input" value ="Cafes" name = "type" >Cafes</option>
                        <option class="add_Deals_input" value ="Delis" name = "type" >Delis</option>
                </select>
                <select class="add_Deals_input" name = "filter_id" >
                        {% for filter in filters %}
                            <h1>{{filter.filter_id}}</h1>
                            <h2>{{filters["filter_name"]}}</h2>
                            <option value = {{filter.filter_id}} name = "filter_id" selected="selected">{{filter.filter_name}}</option>
                        {% endfor %}
                </select>
                <input type="text" id="query" class="add_Deals_input" name="location" placeholder = "Enter the location" required>
                <input type="text" id="latitude" class="add_Deals_input" name="latitude" placeholder = "Latitude" required>
                <input type="text" id="longitude" class="add_Deals_input" name="longitude" placeholder = "Longitude" required>
                <input type="number" step="any" id="timeleft" class="add_Deals_input" name="timeleft" placeholder = "Time Left" required>
                <input id="submit" type="submit" value="Add Vendor" class="updateBtn">
            </form> 
    </div>
</div>

<script>

var deal = '{{ deal }}';
if (deal != "") {
    fillForDealEdit();
}

function fillForDealEdit() {
    document.getElementById('pageTitle').innerText = "Update Vendor";
    document.getElementById('title').value = '{{ deal.title }}';
    document.getElementById('description').value = '{{ deal.description }}';
    document.getElementById('price').value = '{{ deal.price }}';
    document.getElementById('buy_price').value = '{{ deal.buy_price }}';
    document.getElementById('image').value = '{{ deal.image }}';
    document.getElementById('file').value = '{{ deal.file }}';
    document.getElementById('query').value = '{{ deal.location }}';
    document.getElementById('latitude').value = '{{ deal.latitude }}';
    document.getElementById('longitude').value = '{{ deal.longitude }}';
    document.getElementById('timeleft').value = '{{ deal.timeleft }}';
    document.getElementById('offer').value = '{{ deal.offer }}';
    document.getElementById('submit').value = "Update Vender";

{% if deal.image %}
    deal_image = document.getElementById('deal_image')
    if (deal_image) {
	deal_image.src = "{{ deal.image[:4] == 'http' and deal.image or '/dealimages/' + deal.image|urlencode}}"
	deal_image.style.display = 'block'
	deal_image.style.width = '50%'

    }
{% endif %}

    tl = document.getElementById('timeleft')
    if (tl && tl.value) {
	tl.value = tl.value.split(',')[0] + '000'
	tl.value = tl.value.split('.')[0] + '000'
	// console.log(tl.value)
	delta = new Date(Number(tl.value)) - new Date()
	// console.log(delta)
	delta = delta / 1000 / 60 / 60 / 24
	// console.log(delta)
	if (delta > 0) {
		tl.value = Math.floor(delta)
	} else {
		tl.value = ""
	}
    }
}

function initMap() {
    var input = document.getElementById("query");
    var autocomplete = new google.maps.places.Autocomplete(input);

    var infowindow = new google.maps.InfoWindow();
    var infowindowContent = document.getElementById('infowindow-content');
    infowindow.setContent(infowindowContent);

    autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }
                document.getElementById('latitude').value = place.geometry.location.lat();
                document.getElementById('longitude').value = place.geometry.location.lng();
        });
  } 
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_l1t_2nwwdmwK5VG5ys07bnfEwp231TQ&libraries=places&callback=initMap" async defer></script>

{% endblock %}

