<link rel="stylesheet" href="/static/style.css" type="text/css">

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<!-- {% extends "layout.html" %} -->
{% block body %}
<!-- {% include 'nav.html' %} -->
{% include 'leftmenu.html' %}
<div class="w3-main" style="margin-left:250px">        
        <div class="w3-row w3-padding-64">            
            {% include 'includes/_messages.html' %}
            <h2 class="tableTitle"> Filters </h2>
            <form action="/addfilters" method="POST">
                
                <div class="gapSpace"></div>
                <div class="">
                    <input type="text" class="add_Deals_input"   placeholder = "Name" name="filter_name" required>
                </div>
                <div class="gapSpace"></div>
                
                <input type="submit" value="Add" class="updateBtn" >
                        <br>
                <div class="gapSpace"></div>

                </form> 
                <div class="table-responsive">          
                    
                    <table class="tableStyle" name="table">
                        <tr class="rowStyle">
                            <td class="headingStyle"> Name </th>
                            <td class="headingStyle"> Delete </th>
                        </tr>
            
                        {% for filter in filters %}
                            <tr class="rowStyle">
                                <td class="dataStyle"> {{filter.filter_name}} </td>
                                <td>                                
                                    <form action="/deletefilter">                                
                                        <button type="submit" name="delete" value= {{filter.filter_id}}> Delete </button>
                                    </form>
                                </td>
                                </tr>
                            
                        {% endfor %}
                    </table>      
                </div>
        </div>
  
</div>

{% endblock %}

