<link rel="stylesheet" href="/static/style.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- {% extends "layout.html" %} -->
{% block body %}
<!-- {% include 'nav.html' %} -->
{% include 'leftmenu.html' %}        
        <div class="w3-main" style="margin-left:250px">
            <div class="w3-row w3-padding-64">
                <h2 style="text-align:center"> Hello! </h2>
                <h2 style="text-align:center"> Welcome to Dash  </h2>          
                <img class="img-responsive" src="https://static1.squarespace.com/static/59b831914c326d013e2161e2/t/59fbb40fe4966baa783bc1d1/1509667860737/Dash+App+Icon.png?format=1000w">       
            </div>
        </div>           
{% endblock %} 