<!-- <html>
    <head>
        <title>Website</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">                
        <style>
        @import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
        
        </style>
     
    </head>
    <body>
     {% block body %}
     {% endblock %}
     
    </body>
</html>  