<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<html>
<title> Lunch Box </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-red.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 45px;
    bottom: 0;
    height: inherit;
}
</style>
<body>

    <!-- Navbar -->
        <div class="w3-bar w3-top" style="height:45px">
            <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i>Dash</a>
            <h2 class="w3-bar w3-bar-item " style="padding-left:85px">Dash</h2>           
        </div>
        </div>      
        <!-- Sidebar -->
        <nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-x" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
            <i class="fa fa-remove"></i>
        </a>
        <div class="gapSpace"></div>
        <div class="gapSpace"></div>				
        <a class="menuButton" href="{{ url_for('homepage') }}">Home</a>
        <div class="gapSpace"></div>
        <a class="menuButton" href="{{ url_for('addDeals') }}">Add Vendor</a>
        <div class="gapSpace"></div>		
        <a class="menuButton" href="{{ url_for('getMyDeals') }}">My Vendors</a>
        <div class="gapSpace"></div>
        <a class="menuButton" href="{{ url_for('addfilters') }}">Filters</a>
        <div class="gapSpace"></div>				
        <a class="menuButton" href="{{ url_for('showAllUsers') }}">Users</a>
        <div class="gapSpace"></div>		
        <a class="menuButton" href="{{ url_for('logout') }}">Sign Out</a>
        </nav>
        
        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>  
        <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
        <div class="w3-main" style="margin-left:250px"></div>               
        <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");     
        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");           
        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }           
        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
        </script>
    
    </body>
    </html>	
	