<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css" type="text/css">

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<!-- {% extends "layout.html" %} -->
{% block body %}
<!-- {% include 'nav.html' %} -->
{% include 'leftmenu.html' %}
<div class="w3-main" style="margin-left:250px">
    <div class="w3-row w3-padding-64">
        {% include 'includes/_messages.html' %}           
            <h2 class="tableTitle">My Vendors</h2>
            <div class="gapSpace"></div>
            <div class="table-responsive">          
                <table class="tableStyle">
                    <tr class="rowStyle">
                        <td class="headingStyle">Vendor Title</th>
                        <td class="headingStyle">Description</th> 
                        <td class="headingStyle">Price</th>
                        <td class="headingStyle">Time Left for Vendor</th>
                        <td class="headingStyle"> Edit/Delete </th>
                    </tr>

                    {% for deal in deals %}
                        <tr class="rowStyle">
                            <td class="dataStyle"> {{deal.title}} </td>
                            <td class="dataStyle"> {{deal.description}} </td>
                            <td class="dataStyle"> {{deal.price}} </td>
                            <td class="dataStyle">{{deal.timeleft}} </td>

                            <td>
                                <form action="/editDeal"> 
                                    <button type="submit" name="edit" value= {{deal.id}}> Edit </button>
                                </form>
                                <form action="/deleteDeal">                                
                                    <button type="submit" name="delete" value= {{deal.id}}> Delete </button>
                                </form>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </table>
            </div>
    </div>       
</div>

{% endblock %}