<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if not request.args.get('link') %}
<div class="login">
	<center>

	{% if session.get('registered') %}
		<p>Registration successful</p>
	{% endif %}
	<a href="https://itunes.apple.com/us/app/bolt-claim-deals-get-reward/id1308341974">
	<img src="https://static1.squarespace.com/static/59b831914c326d013e2161e2/t/5acaef812b6a289d08cd0e58/1523249030037/?format=300w">
	</a>
	</center>
</div>
{% else %}
 <div class="loginBackGround">  
	<form action="/signup" method="POST">
		<div class="login">
			<div class="login-screen">
				<div class="app-title">
					<h1>BoltApp</h1>
				</div>
				<div class="login-form">
					<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="email" name="email">
					<label class="login-field-icon fui-user" for="email"></label>
					</div>
					<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="password" name="password">
					<label class="login-field-icon fui-lock" for="password"></label>
					</div>
	
					<input type="hidden" value="{{request.args.get('link', '')}}" name="link">
					<input type="submit" value="Sign UP" class="btn" >
					<br>
				</div>
			</div>
		</div>
	</form>
</div> 
 
{% endif %}
{% endblock %}
