<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css" type="text/css">

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<!-- {% extends "layout.html" %} -->
{% block body %}
<!-- {% include 'nav.html' %} -->
{% include 'leftmenu.html' %}
<div class="w3-main" style="margin-left:250px">
    <div class="w3-row w3-padding-64">
            {% include 'includes/_messages.html' %}                       
            <h2 class="tableTitle">Users</h2>
            <div class="gapSpace"></div>          
            <div class="table-responsive">
                <table class="tableStyle">
                        <tr class="rowStyle">
                            <td class="headingStyle">Name</th>
                            <td class="headingStyle">EMail</th> 
                            <td class="headingStyle">Points</th> 
                            <td class="headingStyle">Delete</th>
                        </tr>

                        {% for deal in deals%}
                            <tr class="rowStyle">
                                <td class="dataStyle"> {{deal.first_name}} </td>
                                <td class="dataStyle"> {{deal.email}} </td>
                                <td class="dataStyle"> {{deal.points}} </td>                                
                                <td>
                                    <form method="post" >                                
                                            <button type="submit" name="delete" value= {{deal.email}}> Delete </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
    </div>
</div>
      
{% endblock %}